#Box1{
    height: 100px;
    width: 100px;
    background-color: green;
    font-size: 15px;
}
#Box2{
    height: 50px;
    width: 30%;          /*box1 ka 30% occupy krega*/
    background-color: greenyellow;
    margin-top: 0%;
    margin-left: 5%;
    font-size: 1.25em;     /*em means 1.25times of parent font size*/
    width: 2.0em;          /*2times of box2 font size*/
    width: 3rem;
}

/*position prop. - it sets how an element is positioned in a document
static - no change in any any property
relative - change in position relative to iself
absolute - positioned relative ti its closest ancestor
fixed - positioned relative to browser

*/
#div{
    height: 100px;
    width: 100px;
    background-color: aqua;
}